.card-list{
    width: 57vw;
    margin: 55px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.error-message{
    margin: 10%;
    color: red;
    text-align: center;
}
