.backdrop {
    position: fixed;
    display: block; 
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
}

.modal {
    position: fixed;
    display: block;
    z-index: 200;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 678px;
    background: rgba(0, 0, 0, 0.84);
    padding: 0.3rem;
    border-radius: 25px;
  }
  
  .modal-title {
    font-weight: 300;
    font-size: 20px;
    color: whitesmoke;
    text-align: left;
    margin: 1.3rem 0 0 2.5rem
  }

  .modal-image-container {
    padding:6px 10px 10px 10px;
    text-align: center;
  }

  .modal-image{
    width: 95%;
    height: 560px;
    border-radius: 7px;
  }

  .modal-button {
    margin-top: 20px;
    width: 175px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(252, 181, 89, 0.993);
    border: none;
    font-weight: bold;
    font-size: 18px;
  }

  .modal-button:hover {
    cursor: pointer;
    box-shadow: 0 0 8px rgb(252, 189, 106);
  }

  .download-link:active,
  .download-link:focus,
  .modal-button:active,
  .modal-button:focus{
    outline: none
  }

  .close-icon {
    position: absolute;
    color: white;
    font-size: 25px;
    right:3%;
    top: 2.8%;
  }

  .close-icon:hover {
    cursor: pointer;
  }
 