.logo-container {
    font-family: 'Pacifico', cursive;
    display: inline-block;
    position: fixed;
    top: -51px;
    left: 13%;
    font-size: 46px;
    text-decoration: none;
    color: rgb(73, 72, 72);
    cursor: pointer;
}