.search-container {
    width: 400px;
    margin: 23px auto;
}

.search-input {
    width:86%;
    height:33px;
    border: 1px solid grey;
    padding-left: 11px;
    border-radius: 10px;
}

.search-input:focus {
    outline: none;
    box-shadow: 0 2px 10px grey;
}

.search-icon {
    font-size: 28px;
    margin-left: 10px
}

.search-icon:active,
.search-icon:hover {
    cursor: pointer;
}