.search-container {
    width: 400px;
    margin: 10px auto;
}

.search-input {
    width:90%;
    height:25px;
    border: 1px solid grey;
    padding-left: 11px;
    border-radius: 10px;
}

.search-input:focus {
    outline: none;
    box-shadow: 0 2px 10px grey;
}

.search-icon {
    font-size: 20px;
    margin-left: 6px
}

.search-icon:active,
.search-icon:hover {
    cursor: pointer;
}